   
    <a href="#" class="logo">MarBlogs</a>

    <nav class="navbar">
        <a href="{{ url_for('main') }}">Ana Sayfa</a>
        <a href="#">Trendler</a>
        <a href="#">Kaydedilenler</a>
        
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('my_profile') }}">Profilim</a>
            <a href="{{ url_for('submit_blog') }}">Submit Blog</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>

            <!-- admin panel user admin ise görüncek -->
            <a href="{{ url_for('admin.index') }}">AdminPanel</a>
            
            {% else %}
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}
    </nav>
