{% extends 'base.html' %}
{% block title %}{{ blog.title }}{%endblock%}

{%block content%}
    <main class="index">
        <div class="container">
            <header>
                <div class="category">
                    <div class="info">
                        <div class="tag">
                            <i class="fa-solid fa-tag"></i>
                            <span>{{ blog.category }}</span>
                        </div>
                        <h1 class="title">{{ blog.title }}</h1>
                        <p class="subtitle">{{ blog.subtitle }}</p>
                    </div>
                </div>
            </header>
            <section class="details">
                <div class="item">
                    <h5 class="item-title">Reading Time</h5>
                    <p class="item-text"><span class="item-data">{{ blog.reading_time }}</span> Mins</p>
                </div>
                <div class="item">
                    <h5 class="item-title">Publish Date</h5>
                    <p class="item-text"><span class="item-data">{{ blog.publish_date }}</span></p>
                </div>
                <div class="item">
                    <h5 class="item-title">Views</h5>
                    <p class="item-text"><span class="item-data">{{ blog.views }}</span> Views</p>
                </div>
            </section>
            <article>
                {{ blog.content | safe }}
            </article>
        </div>
    </main>
{%endblock%}