{% extends 'base.html' %} {% block title %} Submit Blog {% endblock %} 

{% block content %}
    
<div class="blog-submit-form" style="padding-top: 150px;">
    <h2>Blogunuzu girin.</h2>
    <form id="submit_blog" action="{{ url_for('submit_blog') }}" method="post">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <fieldset>
                    <input name="title" type="text" id="title" placeholder="Title*" required="">
                </fieldset>
            </div>
            <div class="col-md-6 col-sm-12">
                <fieldset>
                    <input name="subtitle" type="text" id="subtitle" placeholder="Subtitle*" required="">
                </fieldset>
            </div>
            <div class="col-md-6 col-sm-12">
                <fieldset>
                    <input name="category" type="text" id="category" placeholder="Category*" required="">
                </fieldset>
            </div>
            <div class="col-md-6 col-sm-12">
                <fieldset>
                    <input name="reading_time" type="text" id="reading_time" placeholder="Reading Time*" required="">
                </fieldset>
            </div>
            <div class="col-lg-12">
                <fieldset>
                    <textarea name="content" rows="6" id="content" placeholder="Content*" required=""></textarea>
                </fieldset>
            </div>
            <div class="col-lg-12">
                <fieldset>
                    <button type="submit" id="form-submit" class="main-dark-button">Submit Blog</button>
                </fieldset>
            </div>
        </div>
    </form>
</div>

{% endblock %}